---
import Layout from '../components/Layout.astro';
import { Content as Readme } from '../markdown/readme.md';
---

<Layout title="Perf Experiments | Builder.io">
	<main class="p-8 prose container mx-auto">
		<Readme />
	</main>
</Layout>
